.eflogo {
    width: 500px;
    position: 150;
    display: block;
    margin: auto;
}

body {

}

h1 {
    text-align: center;
}

a {
    display: block;
    text-align: center;
}

.Rules {
    border-radius: 10px;
    background-color: white;
    border-color: red;
    size: 20px;
    position: absolute;
    left: 37%;
    font-size: 20px;
}

.About {
    border-radius: 10px;
    background-color: white;
    border-color: red;
    size: 20px;
    position: absolute;
    left: 41.15%;
    font-size: 20px;
}

.Home {
    border-radius: 10px;
    background-color: white;
    border-color: red;
    size: 20px;
    position: absolute;
    left: 47%;
    font-size: 20px;
}

.News {
    border-radius: 10px;
    background-color: white;
    border-color: red;
    size: 20px;
    position: absolute;
    left: 55.3%;
    font-size: 20px;
}

.Shop {
    border-radius: 10px;
    background-color: white;
    border-color: red;
    size: 20px;
    position: absolute;
    left: 51.3%;
    font-size: 20px;
}

.IPFolder {
    position: relative;
    width: 100%;
}

.IP {
    position: absolute;
    top: 40%;
    left: 27%;
    text-align: center;
    color: white;
    font-size: 75px;
    font-family: Impact;
    color: rgb(255, 120, 30);
}

.SpawnClip {
    width: 1848px;
}
.gradient-background {
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,106,0,1) 100%);
}
button {
    color: white;
    background-color: black;
}
